html,body {
	font-family: proxima-nova, sans-serif;
	/*font-family: 'Philosopher', sans-serif;*/
   height: 100%;
   width: 100%;
   margin: 0;
   background-color: #fafafc;

}

div{
	margin: 0 auto;
}


div.opener {
	background-image: url("../img/palm_invasion.jpg");
	background-size: cover;
	background-position: 50% 50%;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: relative;
	z-index: 5;
	color: #fff;

}

div.opener h1 {
	padding-top: 5%;
	font-size: 4em;
	font-family: 'Philosopher', sans-serif;
	text-align: center;
	margin: 0 auto;
}

div.opener h2 {
	font-size: 18px;
	font-family: 'Philosopher', sans-serif;
	margin: 0 auto;
	margin-top: 15px;
	max-width: 625px;
	padding: 0 20px 0 20px;
}

div.opener h4 {
	position: absolute;
	bottom: 3%;
	font-size: 18px;
	font-family: 'Philosopher', sans-serif;
	width: 100%;
	text-align: center;
}

div.introText, div.closingText {
	position: relative;
	margin: 0;
	z-index: 5;
	background-color: #fafafc;
	padding: 50px 0;

}

p {
	font-size: 18px;
	padding: 0 5px;
	margin: 0 auto;
	max-width: 625px;
	z-index: 5;
	position: relative;

}

.firstCharacter {
	float: left;
	font-size: 75px;
  	line-height: 50px;
  	padding-top: 4px;
  	padding-right: 8px;
  	padding-left: 3px;
}

/*///////////////////////*/

div.scrollContainer {
	/*margin: 50px 0;*/
	position: relative;
}

div.sticky {
	z-index: 1;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	margin: 0;
}

div.spacer {
	height: 90vh;
}

.step {
	margin: 0px auto;
	background-color: rgba(0,0,0,0.9);
	border-radius: 5px;
	max-width: 600px;
	padding: 8px;
	opacity: 1;
	color: #eee;
}

article {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: -10%;
	position: relative;
	z-index: 4;

}

div.outer{
	width: 100vw;
	height: 100vh;
	background-color: #555;
	display: flex;
    justify-content: center;
    align-items: center;
}

div#map{
	width: 100%;
	height: 100%;
	position: relative;
	background-color: #ebeced;
	max-height: 104.52vw;
	max-width: 95.68vh;
}

/*@media (min-aspect-ratio: 600/621) {
  div#map {
  	width: 95.68vh;
    height: 100%;
  }
}

@media (max-aspect-ratio: 600/621) {
  div#map {
    width: 100%;
    height: 104.52vw;
  }
}*/

svg#outer {
	position: relative;
	width: 100vw;
	height:100vh;
}

svg#inner {
	max-height: 104.52vw;
	max-width: 95.68vh;
}




/*div.map p {
	position: absolute;
	transform: translate(-50%,-50%);
	font-size: 10px;
	font-weight: bold;
}*/

div.labels {
	position: absolute;
	width: 100%;
	height: 100%;
}

div.labels p {
	position: absolute;
	color: #eee;
	opacity: 80%;
	font-size: 16px;
	font-weight: bold;
}

div.labels p.countryLabel {
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: 4px;
}

div.labels p.waterLabel {
	text-transform: uppercase;
	font-style: italic;
	font-size: 10px;
	letter-spacing: 4px;
	color: #777;
}


.municipio {
/*	fill: #777;
*/	stroke: #fff;
	stroke-width: 0.1px;
	stroke-opacity: 0.7;
}

.municipio.highlight {
	stroke-width: 0.5px;
	stroke-opacity: 1;
}

.departamento {
	stroke: #fff;
	stroke-width: 0.8px;
	stroke-opacity: 0.1;
}

.country {
	fill: none;
	stroke: #fff;
	stroke-width: 1px;
	opacity: 0.2;
	stroke-opacity: 0.4;

}


